extends layout

block content
	h2.text-center Join the growing community of NFive users and developers
	.card-deck.text-center.my-5
		.card
			.card-body
				h4.card-title #{uniquePlugins}
				h5.card-text Unique plugins
		.card
			.card-body
				h4.card-title #{pluginInstalls}
				h5.card-text Total installs
		.card
			.card-body
				h4.card-title #{pluginVersions}
				h5.card-text Released versions
		.card
			.card-body
				h4.card-title #{pluginDevelopers}
				h5.card-text Developers

	hr
	h2.text-center.mt-5.mb-3 What is NFive & nfpm?
	p.text-center NFive is a .NET plugin platform for FiveM. NFive Plugin Manager (nfpm) provides tools for setting up your own FiveM and NFive server in seconds, along with Plugins from the hub or other local and/or remote repositories.

	.card-deck.text-center.my-5
		.card
			.card-header Learn
			.card-body
				p.card-text New to NFive and nfpm? Start with a walkthrough on server setup
				p.card-text
					a(href='https://nfive.io/docs/en/overview') Get Started

		.card
			.card-header Explore
			.card-body
				p.card-text Browse the plugins created and shared by developers using the search bar above or check out some of the examples provided by the NFive Team.
				p.card-text 
					a(href='/NFive') NFive
		.card
			.card-header Develop
			.card-body
				p.card-text Want to get started on making your first NFive plugin? Check our our Guides, Documentation and more!
				p.card-text 
					a(href='http://nfive.io/') nfive.io

	hr
	h2.text-center.mt-5.mb-3 Most installed plugins:
	.row
		each plugin in top
			.col-sm-4
				.row.my-3
					.col-sm-2
						a(href='/' + plugin.name)
							img(src=plugin.avatar_url width='50px')
					.col-sm-10
						a(href='/' + plugin.name)
							h4.text-truncate #{plugin.name}
						div.text-truncate= plugin.description
						small #{plugin.releases[0].tag} released
							time(datetime=moment(plugin.releases[0].created).format('YYYY-MM-DD') title=moment(plugin.releases[0].created).format('YYYY-MM-DD')) #{moment(plugin.releases[0].created).fromNow()}

