extends layout

block content
	h1.display-4.text-center Create better FiveM plugins faster with NFive

	.card-deck.text-center.my-5
		.card
			.card-body
				h4.card-title #{uniquePlugins}
				h5.card-text Unique plugins
		.card
			.card-body
				h4.card-title #{pluginInstalls}
				h5.card-text Total installs
		.card
			.card-body
				h4.card-title #{pluginVersions}
				h5.card-text Released versions

	hr

	h2.display-5.text-center.mt-5.mb-3 Most Installed Plugins

	.row
		each plugin in top
			.col-sm-4
				.row.my-3
					.col-sm-2
						a(href='/' + plugin.name)
							img(src=plugin.avatar_url width='50px')
					.col-sm-10
						a(href='/' + plugin.name)
							h4.text-truncate #{plugin.name}
						div.text-truncate= plugin.description
						small #{plugin.releases[0].tag} released
							time(datetime=moment(plugin.releases[0].created).format('YYYY-MM-DD') title=moment(plugin.releases[0].created).format('YYYY-MM-DD')) #{moment(plugin.releases[0].created).fromNow()}

