extends layout

block content
	h2
		a(href="/" + plugin.org) #{plugin.org}
		| /#{plugin.project}

	p.lead= plugin.description

	nav.nav.nav-pills.flex-column.flex-sm-row.my-5
		a.flex-sm-fill.text-sm-center.nav-link.active(href='#') Readme
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 0 Versions
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 0 Dependencies
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 0 Dependents

	.row
		.col-sm-8
			include project-readme

		.col-sm-4
			div
				h4 install
				input(
					value="nfpm install " + plugin.name
					data-clipboard-text="nfpm install " + plugin.name
					title="Copied to clipboard!"
					data-trigger="click"
					data-placement="right"
					)#install.form-control.w-100.mb-3

			.row
				.col-sm-6
					div
						h4 version
						p
							if plugin.has_release
								a(href=plugin.gh_url + "/releases/tag/" + release.tag) #{release.tag}
							else
								p No Release
					div
						h4 stars
						p
							a(href=plugin.gh_url + "/stargazers") #{plugin.counts.stars}
					div
						h4 watchers
						p
							a(href=plugin.gh_url + "/watchers") #{plugin.counts.watchers}
					div
						h4 updated
						if plugin.has_release
							p
								time(datetime=updated[1] title=updated[1]) #{updated[0]}
						else
							p #{updated[0]}
					div
						h4 repository
						p
							a(href=plugin.gh_url) github.com
					if plugin.homepage_url
						div
							h4 homepage
							p
								a(href=plugin.homepage_url) #{plugin.homepage_url}

				.col-sm-6
					div
						h4 downloads
						p #{plugin.downloads}
					div
						h4 forks
						p
							a(href=plugin.gh_url + "/network/members") #{plugin.counts.forks}
					div
						h4 open issues
						p
							a(href=plugin.gh_url + "/issues") #{plugin.counts.issues}
					div
						h4 created
						if plugin.has_release
							p
								time(datetime=created[1] title=created[1]) #{created[0]}
						else
							p #{created[0]}
					div
						h4 license
						p #{plugin.license}

block footer
	script.
		$('#install').tooltip();

		new ClipboardJS('#install');
