extends layout

block content
	h2
		a(href="/" + plugin.org) #{plugin.org}
		| /#{plugin.project}

	nav.nav.nav-pills.flex-column.flex-sm-row.my-5
		a.flex-sm-fill.text-sm-center.nav-link.active(href='#') Readme
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 2 Versions
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 0 Dependencies
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 0 Dependents

	.row
		.col-sm-8
			.card.mb-3
				.card-header description
				.card-body
					.card-text #{plugin.description}
			.card
				.card-header readme
				.card-body
					.card-text #{readme}
		.col-sm-4
			div
				h4 install command
				input(
					value="nfpm install " + plugin.full_name,
					data-clipboard-text="nfpm install " + plugin.full_name,
					title="Copied to clipboard!"
					data-trigger="click",
					data-placement="right"
					)#install.form-control.w-100.mb-3

			.row
				.col-sm-6
					div
						h4 version
						p
							a(href=plugin.project_url + "/releases") 1.0.0
					div
						h4 stars
						p #{plugin.counts[0].stars}
					div
						h4 watchers
						p #{plugin.counts[0].watchers}
					div
						h4 updated
						p
							time(datetime=updated[1] title=updated[1]) #{updated[0]}
					div
						h4 homepage
						p
							if plugin.homepage_url
								a(href=plugin.homepage_url) #{plugin.homepage_url}
							else
								a(href=plugin.project_url) #{plugin.full_name}

				.col-sm-6
					div
						h4 downloads
						p #{plugin.releases[0].downloads}
					div
						h4 forks
						p #{plugin.counts[0].forks}
					div
						h4 open Issues
						p
							a(href=plugin.project_url + "/issues") #{plugin.counts[0].issues}
					div
						h4 license
						p #{plugin.license}
					div
						h4 created
						p
							time(datetime=created[1] title=created[1]) #{created[0]}
					div
						h4 repository
						p
							a(href=plugin.project_url) github.com


block footer
	script.
		$('#install').tooltip();

		new ClipboardJS('#install');
