extends layout

block content
	h2
		a(href="/" + plugin.org) #{plugin.org}
		| /#{plugin.project}

	nav.nav.nav-pills.flex-column.flex-sm-row.my-5
		a.flex-sm-fill.text-sm-center.nav-link.active(href='#') Readme
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 2 Versions
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 0 Dependencies
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 0 Dependents

	.row
		.col-sm-8
			p README HERE
		.col-sm-4
			div
				h4 install command
				input(
					value="nfpm install " + plugin.full_name,
					data-clipboard-text="nfpm install " + plugin.full_name,
					title="Copied to clipboard!"
					data-trigger="click",
					data-placement="right"
					)#install.form-control.w-100.mb-3

			.row
				.col-sm-6
					div
						h4 Version
						p
							a(href=plugin.project_url + "/releases") 1.0.0
					div
						h4 Downloads
						p 0
					div
						h4 Homepage
						p
							if plugin.homepage_url
								a(href=plugin.homepage_url) #{plugin.homepage_url}
							else
								a(href=plugin.project_url) #{plugin.full_name}
				.col-sm-6
					div
						h4 License
						p
							a(href=plugin.license_url) #{plugin.license_short}
					div
						h4 Open Issues
						p
							a(href=plugin.project_url + "/issues") 0
					div
						h4 Repository
						p
							a(href=plugin.project_url) github.com
					div
						h4 Last Update
						p today

block footer
	script.
		$('#install').tooltip();

		new ClipboardJS('#install');
