extends layout

block content
	h2
		a(href="/" + plugin.user) #{plugin.user}
		| /#{plugin.repo}

	nav.nav.nav-pills.flex-column.flex-sm-row.my-5
		a.flex-sm-fill.text-sm-center.nav-link.active(href='#') Readme
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 2 Versions
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 0 Dependencies
		a.flex-sm-fill.text-sm-center.nav-link(href='#') 0 Dependents

	.row
		.col-sm-8
			p README HERE
		.col-sm-4
			div
				h4 install
				input(value="nfpm install " + plugin.user + "/" + plugin.repo)#install.form-control.w-100.mb-3
			div
				h4 downloads
				p 0
			div
				h4 version
				p
					a(href=plugin.repo_url + "/releases") 1.0.0
			div
				h4 license
				p
					a(href="#") #{plugin.license_short}
			div
				h4 open issues
				p
					a(href=plugin.repo_url + "/issues") 0
			div
				h4 pull requests
				p
					a(href=plugin.repo_url + "/pulls") 0
			div
				h4 homepage
				p
					a(href="#") github.com
			div
				h4 repository
				p
					a(href=plugin.repo_url) github
			div
				h4 last publish
				p today
