extends layout

block content
	h2
		a(href="/" + plugin.org) #{plugin.org}
		| /#{plugin.project}

	p.lead= plugin.description

	nav
		#nav-tab.nav.nav-pills.flex-column.flex-sm-row.my-5(role='tablist')
			a#nav-readme-tab.nav-item.nav-link.flex-sm-fill.text-sm-center.active(data-toggle='tab', href='#nav-readme', role='tab', aria-controls='nav-readme', aria-selected='true') Readme
			a#nav-versions-tab.nav-item.nav-link.flex-sm-fill.text-sm-center(data-toggle='tab', href='#nav-versions', role='tab', aria-controls='nav-versions', aria-selected='false') #{plugin.releases.length} Versions
			a#nav-dependencies-tab.nav-item.nav-link.flex-sm-fill.text-sm-center(data-toggle='tab', href='#nav-dependencies', role='tab', aria-controls='nav-dependencies', aria-selected='false') Dependencies
			a#nav-dependents-tab.nav-item.nav-link.flex-sm-fill.text-sm-center(data-toggle='tab', href='#nav-dependents', role='tab', aria-controls='nav-dependents', aria-selected='false') Dependents


	.row
		.col-sm-8
			#nav-tabContent.tab-content
				#nav-readme.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-readme-tab')
					include project-readme
				#nav-versions.tab-pane.fade(role='tabpanel', aria-labelledby='nav-versions-tab')
					include project-versions
				#nav-dependencies.tab-pane.fade(role='tabpanel', aria-labelledby='nav-dependencies-tab')
					include project-dependencies
				#nav-dependents.tab-pane.fade(role='tabpanel', aria-labelledby='nav-dependents-tab')
					include project-dependents

		.col-sm-4
			div
				h4 install
				input(
					value="nfpm install " + plugin.name
					data-clipboard-text="nfpm install " + plugin.name
					title="Copied to clipboard!"
					data-trigger="click"
					data-placement="right"
					)#install.form-control.w-100.mb-3

			.row
				.col-sm-6
					div
						h4 latest version
						p
							if plugin.has_release
								a(href=plugin.gh_url + "/releases/tag/" + release.tag) #{release.tag}
							else
								p No Release
					div
						h4 stars
						p
							a(href=plugin.gh_url + "/stargazers") #{plugin.counts.stars}
					div
						h4 watchers
						p
							a(href=plugin.gh_url + "/watchers") #{plugin.counts.watchers}
					div
						h4 updated
						if plugin.has_release
							p
								time(datetime=updated[1] title=updated[1]) #{updated[0]}
						else
							p #{updated[0]}
					div
						h4 repository
						p
							a(href=plugin.gh_url) github.com
					if plugin.homepage_url
						div
							h4 homepage
							p
								a(href=plugin.homepage_url) #{plugin.homepage_url}

				.col-sm-6
					div
						h4 downloads
						p #{plugin.downloads}
					div
						h4 forks
						p
							a(href=plugin.gh_url + "/network/members") #{plugin.counts.forks}
					div
						h4 open issues
						p
							a(href=plugin.gh_url + "/issues") #{plugin.counts.issues}
					div
						h4 created
						if plugin.has_release
							p
								time(datetime=created[1] title=created[1]) #{created[0]}
						else
							p #{created[0]}
					div
						h4 license
						p #{plugin.license}

block footer
	script.
		$('#install').tooltip();

		new ClipboardJS('#install');
