extends layout

block head
	meta(property='og:title', content=title)
	meta(property='og:description', content=plugin.description)
	meta(property='og:url', content=url)
	meta(property='og:image', content=plugin.avatar_url)

block content
	div#install-container.float-right.b
		code(
				data-clipboard-text='nfpm install ' + plugin.name
				title='Copied to clipboard!'
				data-trigger='click'
				data-placement='top'
			)#install.border.rounded.m-3
				if plugin.latest_version == release.tag
					| nfpm install #{plugin.name}
					|
				else
					| nfpm install #{plugin.name}@#{release.tag}
					|
				:icon(size=16) clippy

	header
		a(href='/' + plugin.owner).float-left
			img(src=plugin.avatar_url width='100px' height='100px').mr-3

		h2.pt-2
			a(href='/' + plugin.owner) #{plugin.owner}
			| /#{plugin.project}

		p.lead #{plugin.description}

	nav.mt-5.mb-4
		#nav-tab.nav.nav-tabs.flex-column.flex-sm-row(role='tablist')
			a#readme-tab.nav-item.nav-link.flex-sm-fill.text-sm-center.active(data-toggle='tab', href='#readme', role='tab', aria-controls='readme', aria-selected='true') Readme
			a#versions-tab.nav-item.nav-link.flex-sm-fill.text-sm-center(data-toggle='tab', href='#versions', role='tab', aria-controls='versions', aria-selected='false') #{plugin.releases.length.toLocaleString()} Versions
			a#dependencies-tab.nav-item.nav-link.flex-sm-fill.text-sm-center(data-toggle='tab', href='#dependencies', role='tab', aria-controls='dependencies', aria-selected='false') Dependencies
			a#dependents-tab.nav-item.nav-link.flex-sm-fill.text-sm-center(data-toggle='tab', href='#dependents', role='tab', aria-controls='dependents', aria-selected='false') Dependents

	#tab.row
		.col-sm-8
			#nav-tabContent.tab-content
				#readme.markdown.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='readme-tab')
					!= readme
				#versions.tab-pane.fade(role='tabpanel', aria-labelledby='versions-tab')
					include project-versions
				#dependencies.tab-pane.fade(role='tabpanel', aria-labelledby='dependencies-tab')
					h2.text-center Coming soon
				#dependents.tab-pane.fade(role='tabpanel', aria-labelledby='dependents-tab')
					h2.text-center Coming soon

		#stats.col-sm-4
			.row.text-center.mb-3
				.col-sm-3
					a(href=plugin.gh_url + '/stargazers')
						:icon(size=24) star
						|
						| #{plugin.counts.stars.toLocaleString()}
				.col-sm-3
					a(href=plugin.gh_url + '/watchers')
						:icon(size=20) eye
						|
						| #{plugin.counts.watchers.toLocaleString()}
				.col-sm-3
					a(href=plugin.gh_url + '/network/members')
						:icon(size=20) repo-forked
						|
						| #{plugin.counts.forks.toLocaleString()}
				.col-sm-3
					a(href=plugin.gh_url + '/issues')
						:icon(size=20) issue-opened
						|
						| #{plugin.counts.issues.toLocaleString()}

			.row
				.col-sm-6
					div.my-3
						h4 version
						p
							if plugin.has_release

								a(href=plugin.gh_url + '/releases/tag/' + release.tag)
									:icon tag
									|
									| #{release.tag}
							else
								p Unreleased
					div.my-3
						h4 released
						if plugin.has_release
							p
								:icon clock
								|
								time(datetime=moment(release.created).format('YYYY-MM-DD') title=moment(release.created).format('YYYY-MM-DD')) #{moment(release.created).fromNow()}
						else
							p Unreleased
					if plugin.homepage_url
						div.my-3
							h4 homepage
							p
								:icon globe
								|
								a(href=plugin.homepage_url) #{new URL(plugin.homepage_url).hostname}

				.col-sm-6
					div.my-3
						h4 downloads
						p
							:icon cloud-download
							|
							| #{release.downloads.toLocaleString()}
					div.my-3
						h4 created
						if plugin.has_release
							p
								time(datetime=moment(plugin.created).format('YYYY-MM-DD') title=moment(plugin.created).format('YYYY-MM-DD')) #{moment(plugin.created).fromNow()}
						else
							p moment(plugin.created).fromNow()
					div.my-3
						h4 license
						p #{plugin.license}

block footer
	script.
		$('#install').tooltip();

		new ClipboardJS('#install');
