extends layout

block content
	h2.mb-5 #{results.length} plugins found
	hr

	each plugin in results
		.row
			.col-sm-8
				div.align-middle
					a(href="/" +  plugin.name) #{plugin.name}
			.col-sm-1.text-center
				div
					a(href=plugin.gh_url + "/releases/tag/" + plugin.releases[0].tag) #{plugin.releases[0].tag}
					p version
			.col-sm-1.text-center
				div
					a(href=plugin.gh_url + "/stargazers") #{plugin.counts.stars}
					p stars
			.col-sm-1.text-center
				div
					a(href=plugin.gh_url + "/watchers") #{plugin.counts.watchers}
					p watchers
			.col-sm-1.text-center
				div
					a(href="/" +  plugin.name) #{plugin.project_downloads}
					p installs
